<html>
  <head>
    <nav>
        <a href="/">Home </a>
        <a href="/image">Imagenes </a>
        <a href="/video">Videos </a>
    </nav>
    <title>Audios</title>
    
    <!--Estilo de fondo-->
    <link rel="stylesheet" href="/static/stylemedia.css">
    <link rel="stylesheet" href="/static/styleaudio.css">

  </head>
  <body>
    <h1>{{message}}</h1>

    <!--Your Audios Here-->
    <li>
    <h2>Audio Sample 1</h2>
    <audio controls>
    <source src="/static/audios/BlackSheep1.mp3"/>
    </audio>
    </li>

    <li>
    <h2>Audio Sample 2</h2>
    <audio controls>
    <source src="/static/audios/BlackSheep1.mp3"/>
    </audio>
    </li>


  </body>
</html>