<html>
  <head>
    <nav>
        <a href="/">Home </a>
        <a href="/video">Videos </a>
        <a href="/audio">Audios </a>
    </nav>
    <title>Imagenes</title>
    

    <!--Estilo de fondo-->
    <link rel="stylesheet" href="/static/stylemedia.css">
    <link rel="stylesheet" href="/static/stylecontainer.css">

  </head>
  <body>
    <h1>{{message}}</h1>
    
    <!--Your images here-->
    <div class = "container">
    <img src="/static/images/IMAGESAMPLE1.jpg" alt="Image1" width="40%" height="auto"/>
    <h3>Image Sample 1</h3>
    <h4> </h4>
    </div>

    <div class = "container">
    <img src="/static/images/IMAGESAMPLE1.jpg" alt="Image1" width="40%" height="auto"/>
    <h3>Image Sample 2</h3>
    <h4> </h4>
    </div>

  </body>
</html>