<html>
  <head>
    <nav>
        <a href="/">Home </a>
        <a href="/image">Imagenes </a>
        <a href="/audio">Audios </a>
    </nav>
    <title>Videos</title>
    

    <!--Estilo de fondo-->
    <link rel="stylesheet" href="/static/stylemedia.css">

  </head>
  <body>
    <h1>{{message}}</h1>

    <!--Your videos here-->
    <video width="320" height="240" controls="controls">
      <source src="/static/videos/VIDEOSAMPLE1.mp4" type="video/mp4" />
    </video>
    
  </body>
</html>